@model MvcDevices.Models.Devices

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.AssetName</h1>

<div>
    <h4>Asset Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrivateIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrivateIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConnectionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConnectionStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrivilegeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrivilegeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hostname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hostname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AssetID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div>
    <h3>Placeholder</h3>
</div>
